{% extends 'baseform.html' %}
{% load static %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="box"> 
        <h1 class="sign">Login</h1>
        <div class="register_window"> 
            <form class="form" action="{% url 'uno:login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input id="submitbutton" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.body.classList.add("loaded");
    });
</script>